---
import PortfolioLayout from '@layouts/PortfolioLayout.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import Header from '@components/Header.astro';
import BlogListItem from '@components/BlogListItem.astro';
import PortfolioBlock from '@components/PortfolioBlock.astro';
import ScrollspyNavbar from '@components/ScrollspyNavbar.astro';
import { Image } from 'astro:assets';
import TextBlock from '@components/TextBlock.astro';
import { Icon } from 'astro-icon'
import ImageContainer from '@components/ImageContainer.astro';
import InnerText from '@components/PortfolioInnerText.astro';
import PortfolioElo from '@assets/images/PortfolioCover/Elo@2x.png'

const { pageTitle = "Employee Navigator" } = Astro.props;

---

<PortfolioLayout title={pageTitle}>
	<main class="portfolio-container employeenav">
		<section class="portfolio-intro">
			<Header>
			</Header>

			<div class="spacer-default"></div>

			<Breadcrumb firstTitle="Portfolio" firstLink="/work/" pageTitle={pageTitle}></Breadcrumb>
			
			<h2>I redesigned two products, built a design system, mentored two designers, and lead the design team at Employee Navigator.</h2>

			<h3>Our products deliver benefits to over 13,000,000 employees working at 150,000 businesses across the United States. With a 97% customer satisfaction rating, our customers are highly engaged in shaping the best-in-class user experience for benefits administration.</h3>
			<h3>As a design generalist, I lead design efforts across the marketing, product, and engineering teams. I’m responsible for Employee Navigator’s brand, design team, design process, and the overall product experience. I delivered grounded and feasible solutions by working closely with developers, stakeholders, and the product team. I enjoy working closely with users to understand their needs, using real input and observations to shape and inform our outputs.</h3>
			
			<div class="portfolio-divider"></div>
			</section>

		<ScrollspyNavbar></ScrollspyNavbar>

		<TextBlock>
			<span>The design work from Employee Navigator is only a small preview. For more detailed UX & UI breakdowns, please view my work for <a href="/work/brivo" class="link-brivo">Brivo</a>, <a href="/work/elo/" class="link-elo">Elo</a>, or <a href="/work/shadow/" class="link-shadow">Shadow</a>.</span>
		</TextBlock>

		<PortfolioBlock title="Benefit Administration Cloud Software" slug="benefits-management">
			<InnerText>
				<h2>Benefits Management</h2>
				<p>Employee Navigator's core product allows benefits administrators to manage their brokerage and HR teams to manage employees and their benefits in a <span class="tooltip">cloud-based SaaS B2B platform</span>.</p>
			</InnerText>
			<ImageContainer
				width="496px" 
				height="383px"
				title="Product Redesign"
				body="2023 - Identified 100+ UI/UX issues to resolve in UI refactor">
				<Image src={PortfolioElo} alt="Thumbnail of UI Mockups from Elo" style="object-fit: cover; height: 100%; width: 100%;"  />
			</ImageContainer>
		</PortfolioBlock>
		
		</section>
	</main>
</PortfolioLayout>