---
import Layout from '../layouts/Layout.astro';
import Card from '../components/BlogListItem.astro';
import BlogListItem from '../components/BlogListItem.astro';
import { Image } from 'astro:assets';
import PortfolioEN from '../assets/images/PortfolioCover/Employee Navigator.png'
---

<!-- `alt` is mandatory on the Image component -->---

<Layout title="Matt Richards, Product Designer">
	<main>
		<h1>Hi, I'm Matt Richards</h1>

		<p class="intro">I’m a designer who likes coding HTML & CSS, taking <strike>cat</strike> photos, filming videos, sharing Figma tips, and talking about product design.</p>

		<p class="intro">Building websites is my happy place.</p>

		<p class="secondary">Website under construction</p>
		<p class="secondary">Currently making this project way too complicated.</p>
			
		<ul role="list" class="blog-list">
			<BlogListItem
				href="https://docs.astro.build/"
				title="New Blog Post.txt"
				date="January 3, 2023"
			/>
			<BlogListItem
				href="https://docs.astro.build/"
				title="Fonts worth getting to know"
				date="January 3, 2023"
			/>
			<BlogListItem
				href="https://docs.astro.build/"
				title="New Blog Post.txt"
				date="January 3, 2023"
			/>
		</ul>

		<section class="portfolio">
			<h2>Portfolio</h2>
			<a href="#">
				<Image src={PortfolioEN} alt="Preview of Employee Navigator portfolio" />
			</a>
		</section>
	</main>
</Layout>

<style lang="scss">
$text-color-primary: #333131;
$text-color-muted: #6B6766;
$secondary-color-accent: #716FD3;

	main {
		margin: 140px auto;
		padding: 1.5rem;
		max-width: 540px;
	}
	h1 {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 23px;
		margin: 0;
	}
	ul { margin: 0; padding: 0; }
	p.intro { 
		color: $text-color-primary;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		/* or 133% */
		letter-spacing: 0.02em;
	}
	p.secondary { color: $text-color-muted; }

	.portfolio { 
		margin-top: 3rem;
		a img {
			display: block;
			width: 580px;
			height: 200px;
			border-radius: 12px;
			overflow: hidden;
			box-shadow: 0px 4px 16px rgba(11, 12, 21, 0.0);
			transition: box-shadow 0.2s ease-in-out;
		}
		a:hover img {
			box-shadow: 0px 4px 16px rgba(11, 12, 21, 0.1);
		}
	}
</style>
