---
import Layout from '../layouts/Layout.astro';
import ImageContainer from '../components/ImageContainer.astro';
import { Image } from 'astro:assets';
import PortfolioEN from '../assets/images/PortfolioCover/Employee Navigator@2x.png'
import PortfolioBrivo from '../assets/images/PortfolioCover/Brivo@2x.png'
import PortfolioElo from '../assets/images/PortfolioCover/Elo@2x.png'
import PortfolioShadow from '../assets/images/PortfolioCover/Shadow@2x.png'
import Footer from '@components/Footer.astro';
import Block from '@components/Block.astro';
import ButtonFancy from '@components/ButtonFancy.astro';
import Accordion from '@components/Accordion.astro';
import AccordionItem from '@components/AccordionItem.astro';
import AlertTop from '@components/AlertTop.astro';
---


<AlertTop>Website is under construction. More content & pages being added daily.</AlertTop>

<Layout title="Matt Richards, Product Designer">
	<main>
		<h1>Hi, I'm Matt Richards</h1>
		<p class="intro">A seasoned product designer with 15 years spent crafting and launching innovative websites, products, and businesses.</p>
		<div class="intro-text-container">
			<Accordion>
				<AccordionItem
					header="First Item"
				>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam est tenetur. </p>
					<a href="#">Tab to me!</a>
				</AccordionItem>
				<AccordionItem
					header="Second Item"
				>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam est tenetur. </p>
				</AccordionItem>
			</Accordion>
		</div>

		<p class="secondary">Since 2016, I've spearheaded design teams in remote and in-person settings, steered the creation of SaaS products, built robust design systems, and contributed in building a culture where design is valued and designers can ship their best work.</p>
		<p class="secondary">I've worked in esports, physical security, and health insurance industries. My approach involves developing user-friendly, visually appealing products guided by a research-first methodology, refining designs based on continuous user feedback.</p>
		<p class="secondary">I believe in an open design process, anyone's ideas are valid, and use the design process to find what works and what doesn't&mdash;bringing everyone along for the process. </p>

		<Block>
			The below link contains the most comprehensive view of my design work from 2016-2023. This work migrated to this website in the coming days.
			<ButtonFancy
				href="/Matt Richards Portfolio 2016 - 2023.pdf"
				text="Download Matt Richards Portfolio.pdf"
				linkTarget="_blank"
			/>
		</Block>
		<section class="portfolio">

			<ImageContainer
				title="Employee Navigator"
				href="/portfolio/employee-navigator"
				body="2022 - Current">
				<Image src={PortfolioEN} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;" />
			</ImageContainer>

			<ImageContainer
				title="Brivo"
				href="/portfolio/brivo"
				body="2020 - 2022"
				textClass="onDark"
				>
				<Image src={PortfolioBrivo} alt="Thumbnail of UI Mockups from Brivo" style="object-fit: cover; height: 100%; width: 100%;" />
			</ImageContainer>

			<hr>

			<h3>Rest of portfolio is coming soon</h3>

			<ImageContainer
				title="Elo"
				body="2019 - 2020"
				textClass="onDark"
				cssClass="isComingSoon">
				<Image src={PortfolioElo} alt="Thumbnail of UI Mockups from Elo" style="object-fit: cover; height: 100%; width: 100%;"  />
			</ImageContainer>

			<ImageContainer
				title="Shadow"
				body="2016 - 2019"
				textClass="onDark"
				cssClass="isComingSoon">
				<Image src={PortfolioShadow} alt="Thumbnail of UI Mockups from Shadow" style="object-fit: cover; height: 100%; width: 100%;"  />
			</ImageContainer>

			<hr>
		</section>

		<section class="more-details">

			<h3>Website is still a work-in-progress</h3>
			<p class="secondary">I'm developing this website using <a href="https://astro.build/" target="_blank">Astro</a>, which has meant rolling up the sleeves to learn more about Javascript and frontend development.</p>

			<p class="secondary">I'm still working on a few more pages, adding a dark mode, and polishing the experience further. I'll be adding a blog that goes over how I developed this site shortly, it's pretty cool how it all works.</p>
		</section>
	</main>
</Layout>

<style lang="scss">
$text-color-primary: #333131;
$text-color-muted: #6B6766;
$secondary-color-accent: #716FD3;

	main {
		margin: 140px auto;
		padding: 1.5rem;
		max-width: 576px;
		/* max-width: var(--site-width); */
	}
	h1, h2 {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin: 0;
	}
	ul { margin: 0; padding: 0; }
	p.intro {
		color: $text-color-primary;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		/* or 133% */
		letter-spacing: 0.02em;
	}
	p.secondary { color: $text-color-muted; }

	.portfolio {
		margin-top: 3rem;
		a img {
			display: block;
			width: 580px;
			height: 200px;
			border-radius: 12px;
			overflow: hidden;
			box-shadow: 0px 4px 16px rgba(11, 12, 21, 0.0);
			transition: box-shadow 0.2s ease-in-out;
		}
		a:hover img {
			box-shadow: 0px 4px 16px rgba(11, 12, 21, 0.1);
		}
	}

	hr {
		margin-top: var(--spacer-layout-xl);
		margin-bottom: var(--spacer-layout-small);
	}
	.more-details {
		padding-bottom: var(--spacer-layout-xl);
	}
</style>
