---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource/inter/variable-full.css";
import "@fontsource/dm-mono";

import "@styles/mattc0m-tokens.css";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Matt Richards - {title} - Selected UX/UI Work</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: InterVariable, Inter, Arial, system-ui, sans-serif;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		background-color: #F8F8F8;
		color: #171717;
	}
	code {
		font-family: DM Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	main {
		margin: 140px auto;
		padding: 1.5rem;
		max-width: 1024px;
	}

	h2 {
		margin: 64px 0 32px 0;
		color: var(--text-primary, #171717);
		font-variant-numeric: lining-nums tabular-nums slashed-zero;
		font-family: Inter;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 42px; /* 131.25% */
	}

	h3 { 
		color: var(--text-body, #515151);
		font-variant-numeric: lining-nums tabular-nums;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px; /* 155.556% */
	}

	p {
		color: var(--text-secondary, #5C5C5C);
		font-variant-numeric: lining-nums tabular-nums slashed-zero;
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
	}

	.portfolio-container { 
		display: flex;
		flex-direction: column;
		gap: var(--spacer-layout-xl, 64px);
	}
	.portfolio-intro { max-width: var(--site-width, 800px); margin: 0 auto; }

	.portfolio-divider {
		position: relative;
		height: 48px;
		width: 864px;
		margin-left: -32px;
		border-left: 1px solid var(--grey-200);
		border-right: 1px solid var(--grey-200);

		&:before, &:after {
			content: '';
			position: absolute;
			bottom: 0;
			display: block;
			width: 48px;
			height: 1px;
			border-bottom: 1px solid var(--grey-200);
		}
		&:after { right: 0; }
	}

	.spacer-default { height: 64px; }


	.icon.divider {
	  width: 24px;
	  height: 24px;
	  line-height: 24px;
	}

</style>
