---
export interface Props {
  href?: string;
  cssClass?: string;
  linkTarget?: string;
}

const { href, cssClass, linkTarget } = Astro.props;
---

{href ?
  <a href={href} target={linkTarget} class:list={[ 'ui-alert-top', cssClass ]}>
    <div class="container">
      <slot />
    </div>
  </a>
:
  <div class:list={[ 'ui-alert-top', cssClass ]}>
    <div class="container">
      <slot />
    </div>
  </div>
}

<style>
  .ui-alert-top {
    height: var(--alert-height, 60px);
    background: white;
    color: var(--dark-primary);
    border-bottom: 1px solid var(--dark-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
  }

  .ui-alert-top .container {
    width: 100%;
    max-width: var(--site-width);
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>