---
export interface Props {
  href?: string;
  cssClass?: string;
  linkTarget?: string;
}

const { href, cssClass, linkTarget } = Astro.props;
---

{href ?
  <a href={href} target={linkTarget} class:list={[ 'ui-block', cssClass ]}>
    <slot />
  </a>
:
  <div class:list={[ 'ui-block', cssClass ]}>
    <slot />
  </div>
}

<style>
  .ui-block {
    background: var(--block-background-primary);
    padding: var(--spacer-ui-xx-large);
    display: flex;
    flex-direction: column;
    gap: var(--spacer-ui-large);
    border-radius: var(--container-border-radius);
  }

</style>