---
import { Icon } from 'astro-icon'
export interface Props {
	firstTitle?: string;
  firstLink?: string;
  pageTitle?: string;
  cssClass?: string;
}

const { firstTitle = "Portfolio", firstLink, pageTitle = "Employee Navigator", cssClass = "large" } = Astro.props;
---

<div class:list={[ 'breadcrumb', cssClass ]}>
  {firstLink ?
    <a class="text" href={firstLink}>{firstTitle}</a>
  :
    <div class="text">{firstTitle}</div>
  }

  <div class="icon divider"><Icon name="carbon:chevron-right" /></div>
  <div class="text selected">{pageTitle}</div>
</div>



<style lang="scss">

.breadcrumb {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-primary);

  &.large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
  }
  &.small {
    font-size: 14px;
    line-height: 18px;
    .icon.divider { padding: 2px 2px 0 2px; }
  }
  &.hidefirst {
    .text, .icon { display: none; }
    .text.selected { display: inline-block; }
  }

  .text {
    text-rendering: optimizeLegibility;
    color: var(--text-tertiary);
    text-decoration: none;

    &.selected {
      cursor: default;
      color: var(--text-primary);
    }
  }
  a {
    color:  var(--text-tertiary);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--text-primary);
    }
  }
  &.style-overlay {
    cursor: default;
    color: var(--grey-300, #A6ADAF);
    a, .text, .icon {
      color: var(--grey-300, #A6ADAF);
      &:hover { color: var(--grey-300, #A6ADAF); }
    }
    .text.selected {
      color: var(--grey-100);
    }
  }
}


.icon.divider {
  padding: 0;
  margin: 0;
  width: 20px;
  height: auto;
}

</style>