---
import { Icon } from 'astro-icon'
---


<div class="breadcrumb large">
  <a class="text" href="/work/">Portfolio</a> 
  <div class="icon divider"><Icon name="carbon:chevron-right" /></div> 
  <div class="text selected">Employee Navigator</div>
</div>

<style lang="scss">

:root {
  --ui-padding-default: 50px 42px;
  --ui-border-radius-default: 12px;
  --brand-text-primary: #171717;
  --brand-text-tertiary: #9A9A9A;
  --brand-text-accent: #716FD3;
}

.breadcrumb {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--brand-text-tertiary);

  &.large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
  }
  .text {
    text-rendering: optimizeLegibility;
    color: var(--brand-text-tertiary);
    text-decoration: none;
    &.selected {
      cursor: default; 
      color: var(--brand-text-primary);
    }
  }
  a {
    color:  var(--brand-text-tertiary);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--brand-text-accent);
    }
  }
}

.icon.divider {
  padding: 1px 4px 0;
  width: 20px;
  height: 20px;
  line-height: 24px;
}
  
</style>