---
import { Icon } from 'astro-icon'
---
<div class="icon divider">
<Icon name="carbon:chevron-right" />
</div>

<div class="breadcrumb large">
  <slot />
</div>

<style lang="scss">

:root {
  --brand-primary: #171717;
  --ui-padding-default: 50px 42px;
  --ui-border-radius-default: 12px;
  --brand-text-tertiary: #9A9A9A;
}

.breadcrumb {
  box-sizing: border-box;
  display: flex;
  gap: 4px;
  color: var(--brand-text-tertiary);

  &.large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
  }

  a, div, span {
    color: var(--brand-text-tertiary);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.48px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
  }
}

.icon.divider {
  width: 28px;
  height: 28px;
}
  
</style>