---
import ImageContainer from '@components/ImageContainer.astro';
export interface Props {
	title?: string;
    href?: string;
    cssClass?: string;
}

const { title, href, cssClass } = Astro.props; 
---

<div class="CodeSnippets">
    <slot />
</div>

<style lang="scss" is:global>
.CodeSnippets h2 {
    color: var(--text-primary);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }
</style>