<div class="divider"></div>

<style>

  .divider {
    --border-color: #BFC4CA;
    --border-size: 1px;
    --border-type: solid;

    width: 100%;
    height: 1px;
    border-bottom: var(--border-size) var(--border-type) var(--hr-color);
  }
</style>
