---
import { Image } from 'astro:assets';
import Logomark from '@assets/images/M-Logomark@2x.png';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Divider from '@components/Divider.astro';
import Link from '@components/Link.astro';

---

<div class="global-footer">

  <h3>Thanks for visiting</h3>
  <Grid>
    <GridItem width="32%">
      <div class="list">
        <Link href="/">Home</Link>
        <Link href="/portfolio/">Portfolio</Link>
      </div>
    </GridItem>
    <GridItem width="32%">
      <div class="list">
        <Link href="https://codepen.io/mattc0m" cssClass="codepen">CodePen</Link>
        <Link href="https://dribbble.com/mattc0m" cssClass="codepen">Dribbble</Link>
        <Link href="https://www.linkedin.com/in/mattc0m/" cssClass="codepen">LinkedIn</Link>
      </div>
    </GridItem>
    <GridItem width="32%">
      <div class="list">
        <a href="/" class="logomark" title="Return to homepage">
            <Image src={Logomark} alt="M Logomark" width="112" height="112" />
        </a>
      </div>
    </GridItem>
  </Grid>
</div>

<style>
  a.logomark {
    display: block;
    height: 56px;
    width: 56px;
    img { object-fit: contain; width: 100%; height: 100%; }
  }

  .list {
    display: flex;
    flex-direction: column;
    a { margin-bottom: var(--spacer-ui-large); }
  }
  .global-footer {
    padding-top: var(--spacer-layout-xl);
    border-top: 1px solid var(--hr-color);
    h3 {
      padding-bottom: var(--spacer-layout-xl);
    }
  }
</style>