---
import { Image } from 'astro:assets';
import Logomark from '@assets/images/M-Logomark@2x.png';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Divider from '@components/Divider.astro';

---

<div class="global-footer">
    <Divider />
    <Grid>
        <GridItem width="32%">
            <a href="/" class="logomark" title="Return to homepage">
                <Image src={Logomark} alt="M Logomark" width="112" height="112" />
            </a>
        </GridItem>
        <GridItem width="32%">
            <a href="/" class="logomark" title="Return to homepage">
                <Image src={Logomark} alt="M Logomark" width="112" height="112" />
            </a>
        </GridItem>
        <GridItem width="32%">
            <a href="/" class="logomark" title="Return to homepage">
                <Image src={Logomark} alt="M Logomark" width="112" height="112" />
            </a>
        </GridItem>
    </Grid>
</div>

<style lang="scss">
    a.logomark {
        display: block;
        height: 56px;
        width: 56px;
        img { object-fit: contain; width: 100%; height: 100%; }
    }
</style>