---
export interface Props {
	gutter?: string;
}

const { gutter = "32px" } = Astro.props;
---

<div class="GridRoot">
  <slot />
</div>

<style define:vars={{ 'grid-gutter': gutter}}>
.GridRoot {
  align-items: var(--grid-align);
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--grid-justify);
  margin: calc(var(--grid-gutter)/-2);
  width: calc(100% + var(--grid-gutter));
}
</style>