---
export interface Props {
	width?: string;
}

const { width = "50%" } = Astro.props;
---

<div class="GridItem">
  <slot />
</div>

<style define:vars={{ 'item-max-width': width, 'item-flex-basis': width }}>
.GridItem {
  flex-basis: var(--item-flex-basis);
  flex-grow: var(--item-flex-grow,0);
  flex-shrink: 0;
  max-width: var(--item-max-width);
  order: var(--item-order);
  width: var(--item-width);
  padding: calc(var(--grid-gutter)/2);
}
</style>