---
export interface Props {
	width?: string;
  cssClass?: string;
}

const { width = "50%", cssClass } = Astro.props;
---

<div class:list={[ 'GridItem', cssClass ]}>
  <slot />
</div>

<style define:vars={{ 'item-max-width': width, 'item-flex-basis': width }}>
.GridItem {
  flex-basis: var(--item-flex-basis);
  flex-grow: var(--item-flex-grow,0);
  flex-shrink: 0;
  max-width: var(--item-max-width);
  order: var(--item-order);
  width: var(--item-width);
  padding: calc(var(--grid-gutter)/2);
}

@media (max-width: 767px) {
  .GridItem {
    flex-basis: 100%;
    max-width: 100%;

    &.mobile-half {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}
</style>