<div class="text-container">
    <slot />
</div>

<style>
    .text-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-ui-base-unit);
        width: 100%;
        max-width: var(--site-width);
        margin: 0 auto;

        h2 {
            color: var(--text-primary);
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px; /* 155.556% */
            margin: 0;
        }
        p, ul {
            color: var(--text-secondary, #5C5C5C);
            font-variant-numeric: lining-nums tabular-nums;
            font-size: var(--body-font-size, #5C5C5C);
            letter-spacing: var(--body-letter-spacing, -0.011em);
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            margin-top: 0;
            margin-bottom: var(--spacer-ui-small, 12px);
        }
        ul li {
            padding-bottom: var(--spacer-ui-x-small);
        }
        ul ul { margin-top: var(--spacer-ui-x-small); }
        a {
            color: var(--text-primary);
            text-decoration: underline;
            text-decoration-color: #ccc;
            transition: text-decoration-color 0.15s ease-in-out;

            &:hover { text-decoration-color: var(--text-primary); }
        }
    }

</style>