---
import { Icon } from 'astro-icon'
---

<div class="scrollspy">
  <a class="nav-item" href="#benefits-management">Benefits Management</a>
  <a class="nav-item" href="#employee-experience">Employee Experience</a>
  <a class="nav-item" href="#design-system">Design System</a>
  <a class="nav-item" href="#ux-research">UX Research</a>
  <a class="nav-item" href="#brand-and-marketing">Brand and Marketing</a>
</div>

<style>
.scrollspy {
    display: flex;
    width: 100%;
    gap: var(--spacer-layout-default);
    }

</style>