<div class="TextBlock">
  <slot />
</div>

<style>
  :root {
    --ui-padding-default: 50px 42px;
    --brand-primary: #171717;
    --ui-border-radius-default: 12px;
    --brand-brivo-accent: #739DD3;
    --brand-shadow-accent: #00C7BC;
    --brand-shadow-accent-dark: #10ACA4;
    --brand-elo-accent: ;
    --brand-en-accent: ;
  }

  .TextBlock {
    box-sizing: border-box;
    display: flex;
    padding: var(--ui-padding-default);
    background: var(--brand-primary);
    border-radius: var(--ui-border-radius-default);
    color: #F9FAFA;
    font-size: 16px;
    line-height: 22px;

    span, p { 
      margin: 0; 
      padding: 0; 
      color: #F9FAFA;

      a { 
        font-weight: 600; 
        color: #F9FAFA;
        text-decoration: underline;
        text-decoration-color: #666;

        &.link-brivo:hover {
          text-decoration-color: blue;
        }
        &.link-shadow:hover {
          text-decoration-color: cyan;
        }
        &.link-elo:hover {
          text-decoration-color: pink;
        }
      }
    }
  }

