---
export interface Props {
	text: string;
}

const { text} = Astro.props;
---
<p>{text}</p>

<style lang="scss">
    $text-color-primary: #333131;
    $text-color-muted: #6B6766;
    $secondary-color-accent: #716FD3; 

p {
    color: $text-color-primary;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 1.5rem;
}

</style>
