<div class="TextBlock">
  <slot />
</div>

<style lang="scss">
  .TextBlock {
    box-sizing: border-box;
    display: flex;
    padding: 50px 42px; // needs token (UI-Padding-Default)
    background: #171717; // needs token (Brand / Primary)
    border-radius: 12px; // needs token (UI-border-radius-default)
    color: #F9FAFA;
    font-size: 16px;
    line-height: 22px;
  }
</style>